.card {
  display: grid;
  grid-template-rows: 80% 20%;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  height: 300px;
  width: 300px;
  cursor: pointer;
}

.card > img {
  max-width: 80%;
  max-height: 80%;
  justify-self: center;
}

.card > h3 {
  font-size: 1.7rem;
}

.card > p {
  justify-self: center;
  font-size: 1.2rem;
  text-align: center;
}

.card > .cardAddToCart {
  display: flex;

  text-align: center;
  justify-content: center;
}
.card > .cardAddToCart > button,
.card > .cardAddToCart > p {
  margin: 0 5px;
  font-size: 1.6rem;
}

.card > .cardAddToCart > button {
  border-radius: 0.5rem;
  padding: 0 0.2rem;
  color: white;
  background-color: black;
  cursor: pointer;
  transition: all 0.4 ease-in-out;
  -moz-transition: all 0.4 ease-in-out;
  -webkit-transition: all 0.4 ease-in-out;
}

.card > .cardAddToCart > button:hover {
  background-color: rgb(52, 52, 52);
}
.card > .cardAddToCart > button:active {
  background-color: rgb(221, 221, 221);
}
