.catalog {
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  justify-content: center;
  min-height: 100vh;
  background-color: white;
}

.catalogOverview {
  margin-top: 90px;
  margin-left: 10px;
  height: 100%;
  grid-column: 2/3;
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: repeat(auto-fill, 380px);
  align-items: center;
  justify-content: center;
}
