.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.home > .welcome-message {
  margin-bottom: 2rem;
}

.home > .popular-categories {
  display: flex;
  flex-direction: column;
}

.home > .popular-categories > div {
  display: flex;
  flex-direction: row;
  gap: 70px;
}
